body {
    position: relative;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23808080' fill-opacity='0.5' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

section {
    display: table;
    position: relative;
    width: 100%;
}

table, tbody, tr {
    width: 100%;
    padding: 0;
    margin: 0;
    border-spacing: 0;
}
td {
    width: 100%;
    padding-bottom: 0.25em;
    vertical-align: text-top;
}
td:first-child {
    width: 1px;
    padding-right: 2em;
    text-align: right;
}

a {
    color: black;
    text-decoration: underline;
    text-decoration-color: rgb(220, 53, 69);
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0;
}

#message {
    width: 50%;
}

.info {
    font-style: italic;
    color: darkgray;
}
.info pre {
    color: darkgray;
}
