body {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23808080' fill-opacity='0.5' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

section {
    display: block;
    width: 100%;
    overflow: hidden;
}

table, tbody, tr {
    position: relative;
    padding: 0;
    margin: 0;
    border-spacing: 0;
    white-space: nowrap;
}
td {
    width: auto;
    content: '';
    padding-bottom: 0.25em;
    text-align: left;
    vertical-align: top;
}
td:first-child {
    padding-right: 2em;
    margin-right: 2em;
    text-align: right;
}

pre {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin: 0;
}

hr {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 1px;
    margin: 0;
    padding: 0;
    border: 1px dotted #000;
    border-style: none none dotted;
    color: #fff;
    background-color: #fff;
}

a {
    color: black;
    text-decoration: underline;
    text-decoration-color: rgb(220, 53, 69);
}

img {
    max-width: 50vw;
    max-height: 50vh;
    width: auto;
    height: auto;
}

html.sr .reveal {
    visibility: hidden;
}

#message {
    width: 50%;
}

.info {
    font-style: italic;
    color: darkgray;
}
.info pre {
    color: darkgray;
}
