@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RazTalk - @Model.channel</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/jquery.oembed.css" rel="stylesheet">
    <link href="css/raztalk.css" rel="stylesheet">
	<base target="_blank">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="container">
	<header class="text-center reveal">

	</header>
	<section>
		<div class="row justify-content-center">
			<div class="col m-5 text-center reveal">

			</div>
		</div>
		<div class="row">

		</div>
	</section>
	<footer class="text-center reveal">

	</footer>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.signalR.min.js"></script>
    <script src="js/jquery.oembed.js"></script>
    <script src="js/scrollreveal.min.js"></script>
    <script src="js/raztalk.js"></script>
  </body>
</html>